/**
 * Main page stylings
 */

#resizer {
    width: 40px;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 9000;
    cursor: col-resize;
    cursor: ew-resize;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
}

.overlay > .inner {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 0;
}


.overlay#menu {
    left: 0;
    z-index: 700;
    width: 270px;
    background-color: #ECECEC;
    -webkit-transition: all ease 0.1s;
    -moz-transition: all ease 0.1s;
    -o-transition: all ease 0.1s;
    transition: all ease 0.1s;
}

.overlay#menu.ng-hide {
    left: -270px;
}

.overlay#reader {
    right: 0;
    z-index: 600;
    width: 60%;
    background-color: #ECECEC;
}

#menu .map-controls {
    width: auto;
    height: 30px;
    position: absolute;
    right: -120px;
    bottom: 10px;
}

.btn.btn-default.location-button {
    /*background-color: #FC6;*/
}

.btn.btn-default.location-button:hover {
    background-color: #FC6;
}

.menu-item {
    position: relative;
    border-top: 1px solid #CCC;
    background-color: #ECECEC;
}
.menu-item:first-of-type {
    border-top: none;
}

.menu-item.header {
    height: 45px;
}
.menu-item.account {
    height: 65px;
}
.menu-item.new-session {
    height: 55px;
}
.menu-item.saved-sessions {
    position: absolute;
    top: 165px;
    left: 0;
    right: 0;
    bottom: 40px;
}
.menu-item.site-links {
    height: 40px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.menu-item.header .title {
    margin: 0;
    padding: 0;
    padding-left: 5px;
    line-height: 36px;
}

.menu-item.header .title a {
    font-weight: bold;
    font-size: 26px;
    color: #333;
}

.menu-item.header .close-button {
    position: absolute;
    top: 3px;
    right: 3px;
}

.menu-item.header .open-button {
    position: absolute;
    top: -1px;
    right: -52px;
}

.menu-item.account .icon {
    width: 55px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 60px;
    font-size: 36px;
}
.menu-item.account .text {
    position: absolute;
    top: 0;
    left: 55px;
    right: 0;
    bottom: 0;
}
.menu-item.account .text h5 {
    margin-bottom: 5px;
}

.menu-item.new-session .button {
    padding: 10px 5px;
}

.menu-item.saved-sessions > .title {
    margin: 0;
    padding: 12px 6px;
    font-size: 20px;
}
.menu-item.saved-sessions > .title a {
    color: #333;
}

.menu-item.saved-sessions .sessions {
    position: absolute;
    top: 45px;
    left: 5px;
    right: 5px;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.menu-item.saved-sessions .session {
    display: block;
    position: relative;
    margin-bottom: 1px;
    padding: 12px 13px 14px;
    text-decoration: none;
    color: #333;
    background-color: #FFF;
    cursor: pointer;
}

.menu-item.saved-sessions .session.active {
    padding-right: 9px;
    border-right: 5px solid #333;
    /*border-top: 1px solid #CCC;
    border-left: 1px solid #CCC;
    border-bottom: 1px solid #CCC;*/
    background-color: #DDD;
    /*color: #222;*/
}

.menu-item.saved-sessions .session:hover {
    background-color: #CCC;
    color: #222;
}

.menu-item.saved-sessions .session .controls {
    display: none;
}

.menu-item.saved-sessions .session:hover .controls {
    display: block;
    margin-top: -22px;
    position: absolute;
    top: 50%;
    right: 7px;
}

.menu-item.saved-sessions .session .title {
    margin: 0;
    margin-bottom: 4px;
    font-size: 16px;
}

.menu-item.saved-sessions .session .date {
    margin-left: 0.1em;
    line-height: 12px;
    font-size: 10px;
    color: #777;
}

.menu-item.saved-sessions .session.active .date,
.menu-item.saved-sessions .session:hover .date {
    color: #444;
}

.menu-item.site-links .links {
    padding-top: 8px;
    text-align: center;
}

#reader .head .logo {
    width: 50px;
    height: 45px;
    position: absolute;
    top: 1px;
    left: 0;
    text-align: center;
}

#reader .head .logo {
    cursor: pointer;
}

#reader .head .search {
    height: 45px;
    position: absolute;
    top: 0;
    left: 55px;
    right: 127px;
}

#reader .head .reference {
    height: 45px;
    width: 45px;
    position: absolute;
    top: 0;
    right: 82px;
    text-align: right;
}

#reader .head .history {
    height: 45px;
    width: 80px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
}

#reader .article {
    position: absolute;
    top: 46px; /* +1 for border hack */
    left: 0;
    right: 0;
    bottom: 1px; /* +1 for border hack */
    overflow: hidden;
    background: white;
}

#reader .article-border-top {
    height: 1px;
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    background: #CCC;
}
#reader .article-border-bottom {
    height: 1px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: #CCC;
}

#reader .article iframe {
    margin: 0;
    padding: 0;
    border: none;
    background: white;
}



#map {
    position: absolute;
    top: 0;
    left: 0;
    right: 60%; /* width of reader */
    bottom: 0;
}
