#reader .head .logo {
    width: 50px;
    height: 45px;
    position: absolute;
    top: 1px;
    left: 0;
    text-align: center;
}

#reader .head .logo {
    cursor: pointer;
}

#reader .head .search {
    height: 45px;
    position: absolute;
    top: 0;
    left: 55px;
    right: 127px;
}

#reader .head .reference {
    height: 45px;
    width: 45px;
    position: absolute;
    top: 0;
    right: 82px;
    text-align: right;
}

#reader .head .history {
    height: 45px;
    width: 80px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
}

#reader .article {
    position: absolute;
    top: 46px; /* +1 for border hack */
    left: 0;
    right: 0;
    bottom: 1px; /* +1 for border hack */
    overflow: hidden;
    background: white;
}

#reader .article-border-top {
    height: 1px;
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    background: #CCC;
}
#reader .article-border-bottom {
    height: 1px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: #CCC;
}

#reader .article iframe {
    margin: 0;
    padding: 0;
    border: none;
    background: white;
}
