<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Welcome</title>
	<link rel="stylesheet" type="text/css" href="/static/public/vendor/bootstrap/dist/css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="/static/public/vendor/font-awesome/css/font-awesome.css">
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
<div class="container">

	<div class="jumbotron text-center">
		<h1>
			<span class="fa fa-refresh fa-spin"></span>
			Public welcome
		</h1>

		<a href="/auth/login" class="btn btn-default">
			<span class="fa fa-user"></span>
			Login
		</a>
		<a href="/auth/register" class="btn btn-default">
			<span class="fa fa-user"></span>
			Register
		</a>
	</div>

</div>
</body>
</html>